.About{
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    height: 80vh; 
}
.aboutQuotes{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.AboutInnerContent{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
}
.aboutImage{
    border: 1px solid black;
    height: 60vh;
    width: 100%;
}
.aboutContent{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
    height: 60vh;

}
.aboutHeading{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
    padding: 20px;
}
.aboutSummary{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* height: 16vh; */
}
.aboutTable{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
}
.aboutDownload{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.table{
    border: 1px solid black;
    height: 140px;
}
.table td{
    border: 1px solid black;
    padding: 14px;
}