.Education {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* height: max-content; */
    height: 80vh;
    background-image: url("../images/bc.jpg");
    gap: 20px;
}

#eduHeading {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid #1B3C73;
    padding: 20px;
}

#eduheading h1 {
    color: #1B3C73
}

.eduContent {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 70vh;
    gap: 10px;
}

.eduContentOne,
.eduContentTwo {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.Qualification {
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.qualificationHead {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 10px;
    color: #fe0000;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: white;

}

.qualificationHead p {
    color: #fe0000;
    font-size: 17px;
    font-weight: 600;

}

.qualificationContent {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .qualificationTable {
    border: 1px solid black;

} */
.qualificationTable td {
    /* border: 1px solid black; */
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    text-shadow: 1px 1px 1px whitesmoke;
    color: #1B3C73;
}

.internship {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;

    /* gap: 10px; */

}

.internHead {
    /* border: 1px solid black; */
    padding: 10px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fe0000;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.internshipContent {
    /* border: 1px solid black; */
    padding: 10px;
    color: #1B3C73;
    font-weight: 600;

}

.internCompany {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fe0000;
    padding: 10px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.internSoftware {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.internSoftware img {
    /* border: 1px solid black; */
    background-size: cover;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.internPara {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 14px;
}

/* animation */
.qualificationHead h3,
.internCompany h3,
.photoOne {
    animation-name: qualih3;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes qualih3 {
    0% {
        transform: translate(-100px, 0px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.qualificationHead p,
.internCompany p,
.photoThree {
    animation-name: qualip;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes qualip {
    0% {
        transform: translate(50px, 0px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
.qualificationTable td,
.internPara p,
#eduHeading h1
 {
    animation-name: summary;
    animation-duration: 1s;
}

@keyframes summary {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.internHead h3,
.photoTwo {
    animation-name: internHead;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes internHead {
    0% {
        transform: translate(0px, -100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* media Query */
@media (max-width:480px) {
    .Education {
        height: max-content;
    }

    .eduHeading {
        height: 60px;
    }

    #eduHeading h1 {
        font-size: 18px;
    }

    .eduContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
    }

    .eduContentOne {
        width: 100%;
    }

    .qualificationHead h3,
    .internCompany h3 {
        font-size: 16px;

    }

    .qualificationHead p,
    .internCompany p,
    .internPara p {
        font-size: 12px;
    }

    .qualificationTable td {
        font-size: 12px;

    }

    .eduContentTwo {
        width: 100%;
    }

    .internHead h2 {
        font-size: 16px;
    }

    .internSoftware {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .internSoftware img {
        height: 10vh;
        width: 90px;
    }

    .internPara p {
        padding: 10px;
    }
}