.Home {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px;
    height: 80vh;
}

.homeContent {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    padding: 10px;
    gap: 10px;
}

.headings {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
}

.homeImage {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

.homeImage2 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding: 10px;
}

.homeButton {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 400px;

}

.homeNavigation {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}

.first h1,
.third h1 {
    animation-name: head1;
    animation-duration: 1s;

}

@keyframes head1 {
    0% {
        transform: translate(-400px, 0px);
        opacity: 0;
        color: black;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.second h1 {
    animation-name: head2;
    animation-duration: 1s;

}

@keyframes head2 {
    0% {
        transform: translate(400px, 0px);
        opacity: 0;
        color: black;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn1 {
    animation-name: button1;
    animation-duration: 1s;
}

@keyframes button1 {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }
}

.btn2 {
    animation-name: button2;
    animation-duration: 1s;
}

@keyframes button2 {
    0% {
        transform: translate(200px,0px);
        opacity: 0;
    }
}

.para1{
    animation-name: para1;
    animation-duration: 1s;
}
@keyframes para1 {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }
}

.para2{
    animation-name: para2;
    animation-duration: 1s;
}
@keyframes para2 {
    0% {
        transform: translate(0px, 200px);
        opacity: 0;
    }
}
.para3{
    animation-name: para3;
    animation-duration: 1s;
}

@keyframes para3 {
    0% {
        transform: translate(200px, 0px);
        opacity: 0;
    }
}