.Home {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-image: url("../images/bc.jpg");
    height: 80vh;
}

.homeContent {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.headings {
    /* border: 1px solid black; */
    width: 400px;
    padding: 10px;
}


.homeButton {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 400px;

}

.homeNavigation {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.first h1,
.third h1 {
    animation-name: head1;
    animation-duration: 1s;
    font-weight: 600;
    font-size: xx-large;

}

#roshan {
    color: #ff4000;
    font-weight: 700;
}

#reactjs {
    color: #251d9d;
    font-weight: 700;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes head1 {
    0% {
        transform: translate(-400px, 0px);
        opacity: 0;
        color: black;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.second h1 {
    animation-name: head2;
    animation-duration: 1s;
    font-weight: 600;


}

@keyframes head2 {
    0% {
        transform: translate(400px, 0px);
        opacity: 0;
        color: black;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn1 {
    animation-name: button1;
    background-color: #FF885B;
    animation-duration: 1s;
}

@keyframes button1 {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }
}

.btn2 {
    animation-name: button2;
    animation-duration: 1s;
}

@keyframes button2 {
    0% {
        transform: translate(200px, 0px);
        opacity: 0;
    }
}

.para1 {
    animation-name: para1;
    animation-duration: 1s;
}

@keyframes para1 {
    0% {
        transform: translate(-200px, 0px);
        opacity: 0;
    }
}

.para2 {
    animation-name: para2;
    animation-duration: 1s;
}

@keyframes para2 {
    0% {
        transform: translate(0px, 200px);
        opacity: 0;
    }
}

.para3 {
    animation-name: para3;
    animation-duration: 1s;
}

@keyframes para3 {
    0% {
        transform: translate(200px, 0px);
        opacity: 0;
    }
}

.homeImage {
    background-image: linear-gradient(#40c9ff, #e81cff);
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;


}

@keyframes animate {
    from {
        opacity: 0.3;
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.homeImage2 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    padding: 10px;
    overflow: hidden;
}

.homeImage2::after {
    background-color: white;
    content: " ";
    position: absolute;
    top: 14px;
    right: 14px;
    left: 14px;
    bottom: 14px;
    border-radius: 50%;
    background-image: url("C:\Users\manor\OneDrive\Documents\Desktop\Roshan photo.jpg");
    /* Background image here */
    background-size: cover;
    /* Ensures the image covers the circle */
    background-position: 20% 15%;
    /* Centers the image within the div */
    background-repeat: right top;
    /* Prevents the image from repeating */
    overflow: hidden;
    transform: scaleX(-1);

}

.homeImage2 span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f5ea75, #ffcd7d);
    border-radius: 50%;
}

.homeImage2 span:nth-child(1) {
    filter: blur(5px);
}

.homeImage2 span:nth-child(2) {
    filter: blur(10px);
}

.homeImage2 span:nth-child(3) {
    filter: blur(20px);
}

.homeImage2 span:nth-child(4) {
    filter: blur(50px);
}

@media (max-width: 480px) {
    .Home {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .homeImage {
        /* background-image: linear-gradient(#40c9ff, #e81cff); */
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        top: 20px;
        width: 180px;
        height: 180px;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;

    }

    @keyframes animate {
        from {
            opacity: 0.3;
            transform: rotate(180deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .homeImage2 {
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        padding: 10px;
        overflow: hidden;
    }

    .homeImage2::after {
        background-color: white;
        content: " ";
        position: absolute;
        top: 14px;
        right: 14px;
        left: 14px;
        bottom: 14px;
        border-radius: 50%;
        background-image: url("C:\Users\manor\OneDrive\Documents\Desktop\Roshan photo.jpg");
        /* Background image here */
        background-size: cover;
        /* Ensures the image covers the circle */
        background-position: 20% 15%;
        /* Centers the image within the div */
        background-repeat: right top;
        /* Prevents the image from repeating */
        overflow: hidden;
        transform: scaleX(-1);

    }
    
    
    .headings{
        
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .homeButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .btn1{
        width: 100px;
    }
    .btn2{
        width: 100px;
    }
    .homeNavigation{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .headings h1{
        font-size: 1.1rem;
    }
    .homeButton Button{
        height: 30px;
    }
  
}